# Django
db.sqlite3
media/
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Optional: VS Code settings if you're using it
.vscode/

# Optional: Build artifact directories
/build/
/dist/
/*.egg-info/

# Optional: Static files collected locally (if applicable)
#/static/